<div class= "abc" >
  <div class="bar bar-header bar-clear" style= "margin-top:5px;" >
    <a  href="#Events"><button class="button button-icon icon ion-ios-arrow-back">Back</button></a>
    <div class="title" id="shadow">Details</div>
  </div>

  <ion-content class="has-header">
    <div style="width:100%; height:100%;">

      <a class="item item-avatar anchor">
        <img src="bhudda.png">
        <h2 style="color:white;font-weight:700;">{{e.title}}</h2>
        <p style="color:white;"></p>

      </a>

      <div>
        <p class="secondpara">{{e.desc}}</p>
      </div>

    </div>
  </ion-content>
</div>

