
        <div class="abc">

          <div id="notediv" >Student </div>


           <div class= "list" style = "margin-top:2%;">

          <div class="button-bar">
          <a class="padding button button-outline button-light" ui-sref="Notifications" ng-click="valreset()"><span class="badge" style = "background-color:red; color:white; text-align:top;">{{data}}</span><img id = "img" src="msg.png"></a>
          <a class="button button-outline button-light" href="#Announcements" ng-click="valresetf()"><img id="img" src="Annouce.png"id="img" ><span class="badge" style = "background-color:red; color:white; text-align:top;">{{dataf}}</span></a>
          </div>
          <div class="button-bar">
          <a class="button button-outline button-light" href="#StdLecture"><img src="lectures.png" id="img" ></a>
          <a class="button button-outline button-light"><img src="event.png" id="img"></a>
          </div>
          <div class="button-bar">
          <a class="button button-outline button-light"><img src="assignments.png" style = "padding-top : 40px; padding-bottom: 30px;"></a>
          <a class="button button-outline button-light"><img src="plus.png" id="img"></a>
          </div>

          </div>

        </div>
