<div class="abc">
  <div class="bar bar-header" style = "background-color:#000; border : none;">
    <h1 class="divheader">Student Panel</h1>
  </div>
  <ion-content class = "has-header" style="background-color:#000; border :none;">

  <div class="button-bar" id="bar1" style = "width:65%;margin-left:auto; magin-right:auto; padding-top:70px; padding-bottom:150px;">

          <a  href="#//"><img id = "img" src="lock.png"></a>

        </div>

      <div class="list list-inset">

          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.id">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>

<a style = "text-decoration:none">
  <button class="button loginbutton" ng-click="login()">Login</button></a>
</ion-content>
</div>
