
    <div class="abc">

      <div id="notediv" style="margin-top:10%;">NED RAPID NOTIFIER </div>

       <div id="notediva" style="margin-top:20px;">SignIn As</div>
       <div id = "center">


       <div style = "margin-top:15px;" ng-click="faculty()"><img style="height:30%;width:30%;" src="user.png" > </div>
       <div class ="shadow">FACULTY</div>
       <div style = "margin-top:20px;" ng-click="student()"><img style="height:30%;width:30%;" src="user.png"> </div>
       <div class= "shadow">STUDENT</div>


       </div>





 </div>
