        <div class="padding abc">

          <div id="notediv" > Faculty </div>



           <div class= "list">

          <div class="button-bar" id="bar1">
          <a class="padding button button-outline button-light" href="#teacNote" ng-click="valreset()"><span class="badge" style = "background-color:red; color:white; text-align:top;">{{data}}</span><img id = "img" src="notifications.png"></a>
          <a class="button button-outline button-light" href="#teacAnn"><img id="img" src="announcement.png"id="img" ></a>
          </div>
          <div class="button-bar" id="bar1">
          <a class="button button-outline button-light" href="#teacLecture"><img src="lectures.png" id="img" ></a>
          <a class="button button-outline button-light"><img src="event.png" id="img"></a>
          </div>
          <div class="button-bar" id="bar1">
          <a class="button button-outline button-light"><img src="assignments.png" style = "padding-top : 40px; padding-bottom: 30px;"></a>
          <a class="button button-outline button-light"><img src="plus.png" id="img"></a>
          </div>

          </div>

        </div>
