<div class="padding abc">

  <div id="notediv" >Verification</div>

  <div class="button-bar" id="bar1" style = "width:65%;margin-left:auto; magin-right:auto; padding-top:70px; padding-bottom:150px;">

    <a  href="#//"><img id = "img" src="verify.png"></a>

  </div>

  <div class="list list-inset">

    <label class="item item-input">
      <input type="text" placeholder="Verification Code" ng-model="data.code">
    </label>

  </div>

  <a  style = "text-decoration:none"><button class="button button-block" style="background-color:rgb(223, 178, 0 );color:white;" ng-click="check()">Submit</button></a>
</div>
